.App {
  text-align: center;
  height: 100vh;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.product-list-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2em;
  width: 40vw;
  height: 300px;
  overflow-y: scroll;
  border: 2px solid grey;
  border-radius: 50px;

}

.dashboard-viewer-container{
  height: 100vh;
}

.product{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid grey;
  padding: 1em;
}

.product-price{
  color: green;
  font-weight: bolder;
}

.product-img{
  width: 150px;
  height: 150px;
  margin-right: 2em;
}

.total-products-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  width: 25vw;
  height: 50px;
  border-radius: 50px;
  padding: 2em;
  
}

.total-products-container h2{
  margin-bottom: 0px;
}

.customer-detail-container{
  height: 300px;
  width: 50vw;
  border: 2px solid grey;
  border-radius: 50px;
  overflow-y: scroll;
}

.customer{
  border-bottom: 1px solid grey;
}

.customer span{
  font-weight: bolder;
}

.latest-item-img{
  width: 100px;
  height: 100px;
  padding: 2em;
}

.latest-item-container{
  width: 40vw;
  height: 400px;
  overflow-y: scroll;
  border: 2px solid grey;
  border-radius: 50px;
}

.latest-item-container > div{
  display: flex;
  flex-direction: row;
  padding: 2em;
  border-bottom: 2px solid grey;
}

.latest-item-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.latest-item-details > p > span{
  font-weight: bolder;
}

.latest-item-img{
  align-self: center;
}

.category{
  border-bottom: 1px solid grey;
}

.categories-container{
  width: 40vw;
  overflow-y: scroll;
  border: 2px solid grey;
  margin-left: 2em;
  margin-top: 2em;
  border-radius: 50px;
}

.dashboard-intro{
  background-color: black;
  color: white;
  padding: 0.5em;
  margin-bottom: 50px;
}

.block-1{
  display: flex;
}

.block-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal{
  border: 2px solid grey;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 50vw; 
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  background-color: white;
}

.list-dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  gap: 10px;
}

.list-dashboard button{
  display: block;
  width: 150px;
  padding: 1em;
  font-weight: bold;

}

.create-dash{
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 0.5em;
  background-color: transparent;
  font-weight: bolder;
  border: 2px solid #0de984;
  width: 150px;
  color: #0de984

}
.available-dash{
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 0.5em;
  font-weight: bolder;
  
}

.close-modal{
  top: 5px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  font-weight: bolder;
  border: none;
}

button{
  padding: 0.5em;
  background-color: transparent;

}

.delete-dashboards
{
  position: absolute;
  top: 5%;
  left: 10%;
  border: 2px solid red;
  color: red;
  
}


